<mat-card>
    <mat-toolbar color="primary">Checkbox</mat-toolbar>
    <mat-card-content>
<mat-checkbox
#showDetails
[value]=""
[checked]="isChecked"
(change)="onChange($event)"
>Show Details</mat-checkbox>
<div *ngIf="showDetails.checked">Some details ....</div>
</mat-card-content>
</mat-card>

<mat-card>
    <mat-toolbar color="primary">Radio</mat-toolbar>
    <mat-card-content>
    <mat-radio-group [value]="0" >
    <mat-radio-button [value]="1">Male</mat-radio-button>
    <mat-radio-button [value]="0" >Female</mat-radio-button>
    </mat-radio-group>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-toolbar color="primary">Select</mat-toolbar>
    <mat-card-content>
    <mat-select [(ngModel)] ="color" >
        <mat-option *ngFor="let color of colors" [value] = "color.id" >{{ color.name }}</mat-option>
    </mat-select>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-toolbar color="primary">Input</mat-toolbar>
    <mat-card-content>
      <mat-form-field >
        <input 
        ngModel
        #email="ngModel"
        type="text" 
        matInput  
        maxlength="50"
        placeholder="Email">
        <mat-hint>Please type unique one</mat-hint>
        <mat-error *ngIf="email.invalid && email.errors['required']">Email is required</mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card>
      <mat-toolbar color="primary">Textarea</mat-toolbar>
      <mat-card-content>
        <mat-form-field >
          <textarea 
          ngModel
          #address="ngModel"
          placeholder="Address"
          matInput
          matTextareaAutosize
          rows="2"
          ></textarea>
          <mat-hint>Please enter complete address with pincode</mat-hint>
          <mat-error *ngIf="address.invalid && address.errors['required']">Address is required</mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-toolbar color="primary">Date Picker</mat-toolbar>
        <mat-card-content>
          <mat-form-field >
            <input 
            (focus)="dob.open()"
            [min]="minDate"
            [max]="maxDate"
            ngModel
            readonly
            placeholder="Date"
            matInput
           [matDatepicker]="dob"
            rows="2"
            >
            <mat-datepicker-toggle [for]="dob" ></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #dob touchUi="true"></mat-datepicker>
        </mat-card-content>
      </mat-card>
      <mat-card>
          <mat-toolbar color="primary">Icons</mat-toolbar>
          <mat-card-content>
        <mat-icon>add_alert</mat-icon>
        </mat-card-content>
      </mat-card>
      <mat-card>
          <mat-toolbar color="primary">Buttons</mat-toolbar>
          <mat-card-content>
        <button color="primary"  mat-button>Button</button>
        <button color="primary" mat-raised-button>Button p</button>
        <button color="accent" mat-raised-button>Button a</button>
        <button color="warn" mat-raised-button>Button w</button>
        <button mat-fab><mat-icon>check</mat-icon></button>
        </mat-card-content>
      </mat-card>